html {
    font-size: 62.5%;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #cfedf4;
}
.hero-details{
    background-color: white;
}
.hero-section{
    max-height: 95vh;
    overflow: hidden;
    position: relative;
}
.hero{
    display: grid;
    grid-template-areas: "hero-details hero-img";
    grid-template-columns: 1fr 1fr;
}
.hero-details,.hero-image{
    padding: 0 2rem;
}

.hero-details{
    grid-area: hero-details;
}
.hero-image{
    grid-area: hero-img;
    text-align: center;
}
.hero-image img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.slogan{
    position: relative;
    padding: 0 1rem ;
}
.slogan::before{
    content: "";
    position: absolute;
    width: .3rem;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #73dbdd;
}
.app-info{
    background-color: #73dbdd;
    width: 95%;
    border-radius: 0 2rem 2rem 0;
}
.functionality .header{
    position: relative;
}
.functionality .header::after{
    content: "";
    position: absolute;
    width: 20%;
    height: .3rem;
    bottom: 0;
    left: 0;
    display: block;
    background-color: white;
    border-radius: .5rem;
}
.functionalities{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 13rem;
}
.apple,.google,.huawei{
    padding: 2rem 3rem;
    background-color: #a0e6e7;
    border-radius: 1.5rem;
    transition: .3s all;
    text-decoration: none !important;
    

}
.apple:hover,.google:hover,.huawei:hover{
    background-color: #16d4d3;
    border-radius: 1.5rem;
    cursor: pointer;
}
.apple:hover #Path_7187,.apple:hover #Path_7188,.apple:hover p{
    fill: white;
    color: white;
}
.google:hover #Path_8249,.google:hover #Path_8250,.google:hover #Path_8251,.google:hover #Path_8252,.google:hover p{
    fill: white;
    color: white;
}
.huawei:hover #Rectangle_218, .huawei:hover p{
    fill: white;
    color: white;
}
.huawei:hover #Path_26240,.huawei:hover #Path_26241{
    fill: #49357c ;
}
.download-section{
    position: relative;
}
.download-section::after{
    content: url(resources/download-after.svg);
    position: absolute;
    right: 0;
    bottom: 0;
    height: auto;
    width: auto;
    display: block;
}
.footer{
    background: #3d3d3d;
}
.footer-elements{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.footer-elements a{
    color: white !important;
    cursor: pointer;
 
}
.circle{
    width: .6rem;
    height: .6rem;
    border-radius: 50%;
    background-color: white;
}


.hero-button{
    padding: 2rem 2rem 2rem 2.5rem;
    background:  #16d4d3;
    display: inline-block;
    border-radius: 2rem;
    position: relative;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    transition: .3s all;
    margin: 2rem 0;
    text-decoration: none;
    color: white;
}
.hero-button a{
    transition: .3s all;
    color: white;
    text-decoration: none;
}
.hero-button .bi-arrow-right-short{
    padding-left: 4rem;
    transition: .3s linear;

}
.hero-button .bi-arrow-right-short::before{
    opacity: 1;
    top: 50%;

}
.hero-button .bi-arrow-right-short::before{
    font-size: 4rem;
    height: 4rem;
    width: 4rem;
    color: #16d4d3;
    background-color: white;
    border-radius: 1rem;
}
.hero-button a:hover{
    color: white;
    cursor: default;
}

.hero-button:hover{
    padding: 2rem 1rem 2rem 3.5rem;
    border-radius: 10rem;
    cursor: pointer;
    color: white;
}

.hero-button:hover a{
    padding-left: .2rem;
}
.hero-button:hover .bi-arrow-right-short::before{
    border-radius: 10rem;
    transform:rotate(90deg);    
    transition: .3s all;
}

.app-info-img img{
    height: 100%;
    object-fit: cover;
}
.footer img{
    width: 12%;
}


/* Big Screens View - Use of VH and VW */
@media screen and (min-width:1700px) {
    html {
        font-size: 70%;
    }
    .ma-container{
        max-width: 85%;
    }
}
@media screen and (max-width:1650px){
    .hero-section {
        max-height: unset;
        overflow: visible;
        position: relative;
    }
    .hero{
        grid-template-columns: 55% 45% ;
    }
    
}
@media screen and (max-width:992px){

    .fz-80{
        font-size: 5rem;
    }
    .hero{
        grid-template-columns: 100%;
        grid-template-areas: "hero-details"
        "hero-img";
    }
    .functionalities {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 0;
    }
    .buttons{
        flex-direction: column;
    }
    .apple,.google,.huawei{
        margin: 1rem 0;
    }
    .app-info{
        width: 100%;
    }
}
/* Tablet View */
@media screen and (max-width:768px) {
    .footer-elements{
        flex-direction: column;
    }
    .col-lg-5.col-12.py-5{
        display: none;
    }
}

/* Mobile View */
@media screen and (max-width:576px) {
    html {
        font-size: 55%;
    }
}